<!-- 
// Filename: footer.ejs
// Student Name: Kevin Lamanna
// Student ID: 301224451
// Date: September 30th 2022
 -->

<nav class="navbar fixed-bottom bg-light">
  <div class="container-fluid">
    <h5 id="copyright">&copy; Copyright Kevin Lamanna 2022</h5>
  </div>
</nav>